/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

/* h1 {
    font-size: 2.488rem;
  }
h2 {
    font-size: 2.074rem;
  }
h3 {
    font-size: 1.728rem;
  }
h4 {
    font-size: 1.44rem;
  }
h5 {
    font-size: 1.2rem;
  }
h6 {
    font-size: 1rem;
  }
p,
li {
    font-size: 1rem;
  }
label,
button {
    font-size: 1rem;
  } */
  
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
button {
    font-family: 'Poppins', sans-serif;
}

/* working tailwinds colors
black
gray
white
red
yellow
green
blue
indigo
purple
pink
*/